
.cell-editing-delete-row {
  background-image: url(images/delete.gif);
}

.cell-license-status-active {
  // background-image: url(images/ACTIVE.png);
  background-color: #4CAF50;
  border-radius: 50px;
  margin: auto;
}

.cell-license-status-inactive {
  //background-image: url(images/INACTIVE.png);
  border-radius: 50px;
  background-color: #F44336;
}

.redColor {
  color: red !important;
}

//Primary

.finaPrimaryBtn {
  margin: 1px 3px 3px 0 !important;
  background-color: #2b7fcb !important;
  background-image: none !important;
  color: white !important;
  border-width: 1px !important;
  border-radius: 4px !important;
  border-style: solid !important;
  border-color: #2b7fcb !important;
}

.finaPrimaryBtn .x-btn-inner-default-toolbar-small {
  color: white !important;
}

.finaPrimaryBtn .x-btn-icon-el-default-toolbar-small {
  color: white !important;
}

.finaPrimaryBtn.x-btn-focus {
  box-shadow: none !important;
}

//Secondary

.finaSecondaryBtn {
  margin: 0 3px 0 0 !important;
  border-width: 1px !important;
  border-radius: 4px !important;
  border-style: solid !important;
  border-color: #2E343A !important;
  background-image: none !important;
  background-color: transparent !important;
}

.finaSecondaryBtn .x-btn-inner-default-toolbar-small {
  color: #2b7fcb !important;
}

.finaSecondaryBtn .x-btn-inner-default-small {
  color: #2b7fcb !important;
}

.finaSecondaryBtn .x-btn-icon-el-default-small {
  color: #2E343A !important;
}

.finaSecondaryBtn.x-btn-focus {
  box-shadow: none !important;
}

.toolsBtn {
  background-color: white !important;
}

//System Buttons

.firstSystemButtons {
  background-color: transparent !important;
  background-image: none !important;
}

.firstSystemButtons:not(.x-btn-over) {
  border-color: transparent;
}

.firstSystemButtons.x-btn-over {
  background-color: #dbdbdb !important;
  background-image: none;
  border-color: #dbdbdb !important;
}

.firstSystemButtons.x-btn-focus.x-btn-default-toolbar-small {
  box-shadow: none !important;
}

//Top bar

.firstFiRegistryTbar {
  background-color: #f5f5f5 !important;
}

.first-action-icon-hidden {
  display: none !important;
}

.first-action-column-locked {
  border-style: solid !important;
  border-width: 0 1px 0 0 !important;
  border-color: lightgrey;
}

// filter icon

.x-grid-filters-filtered-column {
  text-decoration: none !important;
  position: relative !important;
}

.x-grid-filters-filtered-column:before {
  content: "\f0b0";
  font-family: "Font Awesome 5 Free";
  left: 80% !important;
  margin-top: 6px !important;
  position: absolute;
}

//combo trigger icon

.first-editor-trigger-show {
  text-decoration: none !important;
  position: relative !important;
  color: #7A7A7A;
}

.first-editor-trigger-show:before {
  content: "\f0d7";
  font-family: "Font Awesome 5 Free";
  color: #7A7A7A;
  left: 88% !important;
  margin-top: 5px !important;
  position: absolute;
}