$container-header-color-native: #ee0d0d;
$container-color-native: #FFFFFF;

$container-header-color-1: #e0f2f1;
$container-color-1: #e0f2f1;

$container-header-color-2: #d1c4e9;
$container-color-2: #d1c4e9;

$container-header-color-3: #e0e0e0;
$container-color-3: #e0e0e0;

$container-header-color-4: #d7ccc8;
$container-color-4: #d7ccc8;

$container-header-color-5: #cfd8dc;
$container-color-5: #cfd8dc;

$container-header-color-6: #ffccbc;
$container-color-6: #ffccbc;