
@import "variables";
@import "typography";
@import "~@fontsource/inter/index.css"; // Weight 400.
@import "~@fontsource/inter/300.css"; // Weight 300.
@import "~@fontsource/inter/500.css"; // Weight 500.
@import "~@fontsource/inter/600.css"; // Weight 600.
@import "~@fontsource/inter/700.css"; // Weight 700.

html{
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: 12px;
  line-height: $base-line-height;
  //height: 100%;
  //width: 100%;
}
