html,
body,
#root,
.App {
    height: 100%;
    width: 100%;
    margin: 0;
}

.fullScreen {
    height: 100%;
    width: 100%;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}


.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes animatedCut {
    100% {
        background-position: 4px 0, -4px 100%, 0 -4px, 100% 4px;
    }
}

::-webkit-scrollbar {
    background-color: var(--scrollbar-color-background);
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbar-color-thumb);
    border-radius: 4px;
    border: 2px solid transparent;
    background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
    border: 0;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-corner {
    background: var(--scrollbar-color-background);
}

@-moz-document url-prefix() {
    * {
        scrollbar-width: thin;
        scrollbar-color: var(--scrollbar-color-thumb) var(--scrollbar-color-background);
    }

    *::-webkit-scrollbar-button {
        display: none !important;
    }
}