
#search-results a {
  color: #385f95;
  font: bold 11px tahoma, arial, helvetica, sans-serif;
  text-decoration: none;
}

#search-results a:hover {
  text-decoration: underline;
}

#search-results p {
  margin: 3px !important;
}

.search-item {
  padding: 20px 10px;
  white-space: normal;
  color: #555;
  text-decoration: none;
  display: block;
  overflow: hidden;
  border: 1px solid #fff;
  border-bottom: 1px solid #eee;
}

.search-item h3 {
  font: inherit;
  font-weight: bold;
  font-size: 13px;
  color: #222;

  span {
    font-weight: normal;
    margin: 0 0 5px 0;
    width: 50%;
    display: block;
    clear: none
  }
}

.search-item {
  .item-info {
    float: left;
    margin-left: 8px !important;
    width: 90%;

    a {
      font-weight: bold;
      font-size: 16px;
      margin-right: 5px;
    }
  }

  .item-icon {
    float: left;
    font-size: 2.3vw;
    padding-right: 0.3vw;
  }
}

.dataview-inline .x-item-selected {
  background: #e8e8e8;
}

.emptyText {
  text-align: center;
}

.paragraphStyle {
  font-size: 12px;
  max-width: 90%;
}
