.widget-progress > .x-progress-text {
  width: 100% !important;
}

.disabled-with-sanction-row {
  background-color: #b1d0e9;
}

.disabled-with-application-row {
  background-color: #FF9E80;
}

.historic-data {
  background-color: #fff9c4;
}