$enable-font-awesome: dynamic(true);

$panel-navigation-background-color: #eef4f9;
$panel-navigation-item-line-height: 64px;
$panel-navigation-item-text-color: black;

$progress-bar-background-color: #458fd2;

$button-toolbar-color: #2E343A;
$button-toolbar-background-color: #f2efef;
$button-toolbar-border-color: #f2efef;

$grid-actioncolumn-icon-glyph-color: #2E343A;

//$button-toolbar-inner-border-width-focus: dynamic(1px);
//$button-toolbar-inner-border-color-focus: dynamic(mix($button-toolbar-background-color, $base-color, 20%));
//$button-toolbar-inner-border-color-focus-over: dynamic($button-toolbar-inner-border-color-focus);
//$button-toolbar-inner-border-color-focus-pressed: dynamic($button-toolbar-inner-border-color-focus);

$toolbar-background-color: #f2efef;