.fi-registry-filter {
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  color: #535353;
  cursor: pointer;
}

.fi-registry-filter:hover {
  color: black;
}


.fi-registry-filter-item {
  padding: 20px !important;
  font-size: 24px;

  h2 {
    text-align: right;
    font-size: 60px;
    font-weight: bold;
    color: #527ec8;
    margin: 0;
    line-height: 32px;
    padding-top: 20px;
  }

  div {
    line-height: 24px;
  }

  span {
    font-size: 16px;
    line-height: 16px;
  }

  @media (max-height: 720px) {
    padding: 5px 10px !important;
    font-size: 12px;

    span {
      font-size: 12px;
      line-height: 12px;
    }

    h2 {
      font-size: 30px;
      line-height: 15px;
      padding-top: 10px;
    }
  }
}

@media (max-height: 600px) {
  .fi-statistic-widget {
    .fi-registry-filter-item {
      padding: 2px 10px !important;
      margin: 2px 15px !important;

      h2 {
        font-size: 30px;
        line-height: 10px;
        padding-top: 0px;
      }
    }
  }

  .fi-registry-filter-item {
    padding: 2px 10px !important;
    font-size: 15px;

    .fi-registry-filter {
      font-size: 10px;
    }

    h2 {
      font-size: 30px;
    }
  }

}

.fi-registry-filter-item:before {
  width: 100%;
  position: absolute;
  height: 3px;
  content: "";
  top: 0;
  left: 0
}
